<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="/css/app.css" />
</head>
<body>
    {{>header}}
    {{>nav}}

    <div class="main-content">  
        <p>
            Sorry! The content for what you were looking for is not here.<br />
            Try another page on the navigation bar.<br />
        </p>
    </div>
    
    {{>footer}}
</body>
</html>