<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="/css/app.css" />
</head>
<body>
    {{>header}}
    {{>nav}}

    <div class="main-content">  
        <p>
            Welcome! Are you looking for the weather in your city? Find it below..
        </p>
        <div class="search">    
            <input id="search-input" type="text" placeholder="Forecast Your City Here.." maxlength="100" />
            <button id="search-btn">LOOK NOW!</button>
        </div>
        <div id="forecast-result">
            <h3></h3>
            <div class="primary-details"></div>
            <div class="secondary-details"></div>
            <div class="tertiary-details"></div>
        </div>
    </div>

    {{>footer}}
    <script src="/js/client.js"></script>
</body>
</html>